<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/addnew" method="post" enctype="multipart/form-data">
      <label for="">Tên Sản Phẩm</label> <br />
      <input type="text" name="title" id="" /> <br />
      <label for="">price</label> <br />
      <input type="text" name="price" id="" /> <br />
      <label for="">Chi tiết</label> <br />
      <input type="text" name="description" id="" /> <br />
      <label for="">Hình ảnh</label> <br />
      <input type="file" name="image" id="" /> <br />
      <button type="submit">Add product</button>
    </form>
  </body>
</html>
