<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="main-header__nav">
      <ul class="main-header__item-list">
        <li class="main-header__item">
          <a class="active" href="/">Trang chủ</a>
        </li>
        <li class="main-header__item">
          <a class="active" href="/shop">Sản phẩm</a>
        </li>
        <li class="main-header__item"><a href="/addnew">Thêm sản phẩm</a></li>
      </ul>
    </nav>
    <h1>Home page</h1>
    <h1>Hôm nay là <%= kingofday %></h1>
  </body>
</html>
